<a href="https://colab.research.google.com/github/ShrikantBKumbhar/shrikx_datasci/blob/main/PWSi_23_Feb_Pandas_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#PANDAS
# EDA, DATA ENGINEERING, 
# always wroks on structured data, tables and columns format
#1st row consider as columns headers or names

import pandas as pd

In [4]:
df = pd.read_csv("/content/services.csv",header=None) #header=None parameter will not consider 1st as columns names

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
1,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
2,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
3,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
4,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN

In [6]:
df = pd.read_csv("/content/services.csv")
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [7]:
type(df) #2 data types mainly in pandas, dataframe and series

pandas.core.frame.DataFrame

In [8]:
df.columns #gives of all columns names

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [9]:
list(df.columns) #stores all col names in a list

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [10]:
df.head(10)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN

In [11]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [12]:
df.dtypes #datatypes of columns, object is equivalent to string in pandas core

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [13]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [14]:
df['id'] #if we want to access any specific columns from data frame with indexes

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
Name: id, dtype: int64

In [15]:
type(df['id']) #columns are considered as series of data since it comes with indexes

pandas.core.series.Series

In [16]:
list(df['id']) #converts series into a list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]

In [17]:
df[['id']] #pass this in a list, it will be dataframe

    id
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14
14  15
15  16
16  17
17  18
18  19
19  20
20  21
21  22
22  23

In [18]:
type(df[['id']])

pandas.core.frame.DataFrame

In [19]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [20]:
df[['email','fees']] #selecting multiples columns, enter col as a list

                    email                                               fees
0                     NaN  $2.50 suggested donation for lunch for age 60 ...
1                     NaN  None. Donations requested of clients who can a...
2                     NaN                                              None.
3                     NaN  Vary according to income ($5-$90). Cash, check...
4                     NaN      $60 application fee. Cash or checks accepted.
5                     NaN  $55 per year membership dues. Classes have fee...
6                     NaN  $85 per day. Vary according to income for thos...
7                     NaN  Suggested donation of $4.25 per meal for senio...
8                     NaN                                              None.
9                     NaN                                              None.
10                    NaN                                              None.
11                    NaN                                              None.
12                    NaN                                              None.
13                    NaN                                              None.
14                    NaN                                              None.
15                    NaN  None for emergency services. Vary for after sc...
16                    NaN                                              None.
17                    NaN                                              None.
18                    NaN                                              None.
19                    NaN                                                NaN
20                    NaN                                                NaN
21  passports@example.org  None, except for permits and photocopying. Cas...
22                    NaN  None, except for permits and photocopying. Cas...

In [21]:
df1 = pd.read_excel('/content/LUSID Excel - Setting up your market data.xlsx') # this will read 1st sheet from excel file

In [22]:
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df1.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Unnamed: 2    float64
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
dtype: object

In [24]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [25]:
df1['Unnamed: 7']

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11    LUSID also accepts UTC, UTS offsets and cutlabels
12                                                  NaN
13                                   Additional formats
14                                                  NaN
15                              Standard UTC timestamp:
16                                                  NaN
17                           Convert date into a string
18                                                  NaN
19         UTC offset (not recognised as an excel date)
20                                                  NaN
21                                             Cutlabel
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27                                                  NaN
Name: Unnamed: 7, dtype: object

In [26]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [27]:
df2 = pd.read_csv('https://data.world/alexandra/chord-progressions/workspace/file?filename=chord-progressions.csv')

In [28]:
df2.head()

Empty DataFrame
Columns: [<!doctype html><html lang="en"><head> <title data-react-helmet="true">data.world</title>    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="referrer" content="origin-when-cross-origin"><meta name="og:image" content="https://d2ogkq1rg66kh0.cloudfront.net/site-resources/images/fb-image-share.3a87a6eb.png"><meta name="og:site_name" content="data.world"><meta name="twitter:card" content="summary"><meta name="twitter:site" content="@datadotworld"><meta property="fb:app_id" content="776416075825233"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Lato:ital, wght@0, 300;0, 400;0, 700;1, 300;1, 400;1, 700&display=swap"><link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="data.world">  <link rel="apple-touch-icon" sizes="57x57" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-180x180.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="data.world"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="data.world"><link rel="icon" type="image/png" sizes="32x32" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/favicon-16x16.png"><link rel="shortcut icon" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/favicon.ico"><link href="https://assets.data.world/css/vendors~app.79e084512c7367dbe5dd.css" rel="stylesheet"><link href="https://assets.data.world/css/vendors~vendors.8b9b5652e2d87eca33d5.css" rel="stylesheet"><link href="https://assets.data.world/css/vendors.ec3e8020bbddcd42911c.css" rel="stylesheet"><link href="https://assets.data.world/css/app.1134e3e9d1af0fe60eb2.css" rel="stylesheet"></head><body ><div id="root"><div class="page-container CoreLayout__embed___1fxWq"><div class="view-container"><div class="LoadingAnimation__loaderOverlay___2zSul LoadingAnimation__default___KhFF6" data-dw="LoadingAnimation"><div class="LoadingAnimation__loaderContainer___2arLY"><div class="LoadingAnimation__spinner___2qQFp">Loading...</div></div></div></div></div></div><script type="application/json" id="init-data">{"catalog":{"loadedResources":{}}, clients:{}, currentUser:{"profile":{"abTests":{"buckets":{"loadInstanceConfig":{"name":"load-instance-config", value:1}, sqlAlgebra:{"name":"preferLegacy", value:2}, sqlQuery:{"name":"presto", value:4}}}, accountStanding:"good", activeSubscriptionid:"", agentid:"", authorizationLevels:{"org":"READ", allCatalogs:"NONE", dataLibrary:"NONE"}, avatarUrl:"", bio:"", catalogStatistics:{"analysesCount":0, datasetsCount:0, dataTypesCount:0, glossaryCount:0, projectsCount:0, tablesCount:0}, displayName:"", email:"", created:"", company:"", emailVerified:true, location:"", numFollowers:0, numFollowing:0, numOrganizations:0, orgMode:false, orgDetails:null, orgPreferences:null, relationship:{"member":false, followed:false}, staticGrants:{"analysisHubEnabled":false, businessGlossaryEnabled:false, lineageEnabled:false, metadataCatalogEnabled:false, nativeLineageEnabled:false, personalDatasetsDisabled:false, preventGuestAuthorizations:false, preventGuestUserInvite:false, preventOpenDatasets:false, preventSignedShareUrls:false, samlAllowed:false}, tags:[], updated:"", userCapabilities:{"canBulkEditAllMetadataResources":false, canCreateCollections:false, canCreateDataResources:false, canCreateMetadataResources:false, canDebugMetadataProfile:false, canEditAllDatasetMetadata:false, canManageAllCollectionAccess:false, canManageAllCollectionHierarchy:false, canManageAllDataResources:false, canManageOrgAccess:false, canManageOrgConnections:false, canManageOrgConnectionTasks:false, canManageOrgSettings:false, canManageOrgSubscription:false, canShowOrgAdminLabel:false, hasOrgMembership:false}, visibility:"", visitorid:"109156be-c4fb-41ea-b1b4-efe1671c5808", website:""}, authorizedAccounts:{"state":"idle", data:null}, authorizedClients:[], customSearch:{"default":{"customFacets":[]}, byOrg:{}}, dismissed:[], isLoggedIn:false, needsAnalyticsAlias:false, notifications:[], onboardThisSession:false, requests:[], requestsFetching:false, token:"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50IiwiaXNzIjoiYXV0aG9yaXR5OmRhdGFkb3R3b3JsZDo6MEJGMEVCRDMtMkRFNy00OUZCLUI4N0ItQUQwMzA1N0JCODlFIiwiaWF0IjoxNjc4NzY2Nzk5LCJyb2xlIjpbXSwiZXhwIjoxNjc4ODUzMTk5LCJ2aXNpdG9yaWQiOiIxMDkxNTZiZS1jNGZiLTQxZWEtYjFiNC1lZmUxNjcxYzU4MDgiLCJnZW5lcmFsLXB1cnBvc2UiOnRydWUsImF1dGhvcml0eWlkcyI6WyJkYXRhZG90d29ybGQiXX0.Q4hTUdj_njdGTkKXfgd1num975wiPD6FEHGzNB6HkDahRwyHBYgXNs2AGJcPOpAF0nPU7XgeZoLfYRzEk9lQeA", unDismissedTourCount:2}, dataset:{"hasError":false, loadedDatasets:{}, usersDatasets:{}, loadedCurrentUsersDatasets:false, usersDatasetsTotalCount:0, customDataTypes:{}, workspacePreferences:{}}, discussion:{}, events:{"status":"closed"}, integration:{"activeIntegrations":[], ...]
Index: []

[0 rows x 675 columns]

In [29]:
df2.columns

Index(['<!doctype html><html lang="en"><head> <title data-react-helmet="true">data.world</title>    <meta charset="utf-8"><meta name="viewport" content="width=device-width',
       'initial-scale=1"><meta name="referrer" content="origin-when-cross-origin"><meta name="og:image" content="https://d2ogkq1rg66kh0.cloudfront.net/site-resources/images/fb-image-share.3a87a6eb.png"><meta name="og:site_name" content="data.world"><meta name="twitter:card" content="summary"><meta name="twitter:site" content="@datadotworld"><meta property="fb:app_id" content="776416075825233"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Lato:ital',
       'wght@0', '300;0', '400;0', '700;1', '300;1', '400;1',
       '700&display=swap"><link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="data.world">  <link rel="apple-touch-icon" sizes="57x57" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-180x180.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="data.world"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="data.world"><link rel="icon" type="image/png" sizes="32x32" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/favicon-16x16.png"><link rel="shortcut icon" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/favicon.ico"><link href="https://assets.data.world/css/vendors~app.79e084512c7367dbe5dd.css" rel="stylesheet"><link href="https://assets.data.world/css/vendors~vendors.8b9b5652e2d87eca33d5.css" rel="stylesheet"><link href="https://assets.data.world/css/vendors.ec3e8020bbddcd42911c.css" rel="stylesheet"><link href="https://assets.data.world/css/app.1134e3e9d1af0fe60eb2.css" rel="stylesheet"></head><body ><div id="root"><div class="page-container CoreLayout__embed___1fxWq"><div class="view-container"><div class="LoadingAnimation__loaderOverlay___2zSul LoadingAnimation__default___KhFF6" data-dw="LoadingAnimation"><div class="LoadingAnimation__loaderContainer___2arLY"><div class="LoadingAnimation__spinner___2qQFp">Loading...</div></div></div></div></div></div><script type="application/json" id="init-data">{"catalog":{"loadedResources":{}}',
       'clients:{}',
       ...
       'required:false', 'readOnly:false', 'showOptionalFlag:true',
       'type:"email"}', '{"label":"Message"',
       'placeholder:"Share what you would like to do with this dataset".1',
       'required:true.2', 'readOnly:false.1', 'showOptionalFlag:false.1',
       'type:"textarea"}]}</script><script type="application/json" id="init-analytics">{"siteId":"00000"}</script><script src="https://js.stripe.com/v3/" async id="stripe-js"></script>  <script type="text/javascript" src="https://assets.data.world/js/runtime.6cc1fd01728ccf7242f8.js"></script><script type="text/javascript" src="https://assets.data.world/js/vendors~app.2bfee4d3d9e5e859c530.js"></script><script type="text/javascript" src="https://assets.data.world/js/vendors~app~vendors.2db624ee7dd9d42d528e.js"></script><script type="text/javascript" src="https://assets.data.world/js/vendors~vendors.49de991b5075fa52106d.js"></script><script type="text/javascript" src="https://assets.data.world/js/vendors.5abc3d263d28d26258c0.js"></script><script type="text/javascript" src="https://assets.data.world/js/app.0b1c071019fc771311f1.js"></script></body></html>'],
      dtype='object', length=675)

In [30]:
#@title
df2.to_csv("chord progression",index = False)

In [31]:
import lxml
import pandas as pd

In [41]:
url_data = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html") #URL data is stored in a list when we access, not a dataframe.

In [44]:
type(url_data) #pandas reads all the tables/df availabe in html page and hence stores as all in a list

list

In [47]:
len(url_data) #we can check how many tables are there

1

In [50]:
df3 = url_data[0] #access table stored at 0th index from a list and store in df3

In [52]:
type(df3) #now its a data frame since we accessed table at 0th index

pandas.core.frame.DataFrame

In [54]:
df3.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [56]:
df3.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [58]:
df3.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [60]:
df3['Player']

0          Quincy Acy
1        Jordan Adams
2        Steven Adams
3         Jeff Adrien
4       Arron Afflalo
            ...
670    Thaddeus Young
671    Thaddeus Young
672    Thaddeus Young
673       Cody Zeller
674      Tyler Zeller
Name: Player, Length: 675, dtype: object

In [62]:
df3[['Pos','Age','Player']]

    Pos Age          Player
0    PF  24      Quincy Acy
1    SG  20    Jordan Adams
2     C  21    Steven Adams
3    PF  28     Jeff Adrien
4    SG  29   Arron Afflalo
..   ..  ..             ...
670  PF  26  Thaddeus Young
671  PF  26  Thaddeus Young
672  PF  26  Thaddeus Young
673   C  22     Cody Zeller
674   C  25    Tyler Zeller

[675 rows x 3 columns]

In [64]:
df3.to_csv('players.csv',index=False) #data set saved to local system